- title "Acctypes"

- content_for :main do
  %table
    %tr
      %th Abbr
      %th Name
    - @acctypes.each do |acctype|
      %tr
        %td= acctype.abbr
        %td= acctype.name
        %td
          - actions(acctype)

- content_for :footer do
  %p= link_to "Nouvel Acctype", new_acctype_path
