.fields
  .inputs
    .input.inline
      = f.label :produit_name, "Produit"
      = f.text_field :produit_name
      = f.collection_select :niveau_id, Niveau.all, :id, :name, :include_blank => true
      = link_to_remove_fields "Détruire cette exposition", f
