.exposition
  %p
    = f.text_field_with_auto_complete :produit_name,  {:size => 25}, { :url => produits_path(:js), :method => :get, :param_name => 'search' }
    = f.collection_select(:niveau_id, Niveau.all, :id, :name, :include_blank => true)
    - unless f.object.new_record?
      = f.label :_delete, "Effacer:"
      = f.check_box :_delete
