<% if @dossiers.empty? %>
  <h2>Tous les dossiers ont été évolués</h2>
<% else %>
  <% title ( "Dossiers à évoluer (" + h( @dossiers.count.to_s ) + ")" ) %>
  <table class="latex">
    <tr>
      <th>Année</th>
      <th>Dossier</th>
      <th>Patiente</th>
      <th>Exposition</th>
      <th>Evolution</th>
    </tr>
    <%= render :partial => @dossiers %>
  </table>
<% end %>
<%= link_to "Retour à l'Accueil", root_path %>
