- title "Demandeurs"

- content_for :main do
  %table
    %tr
      %th Name
    - for demandeur in @demandeurs
      %tr
        %td= demandeur.name
        %td= link_to 'Edit', edit_demandeur_path(demandeur)
        %td= link_to 'Destroy', demandeur, :confirm => 'Are you sure?', :method => :delete

  %p= link_to "New Demandeur", new_demandeur_path
