body
  background-color: #ccc
  color: #333
  font-family: verdana, arial, helvetica, sans-serif
  font-size: 13px
  line-height: 18px


p, ol, ul, td
  font-family: verdana, arial, helvetica, sans-serif
  font-size: 13px
  line-height: 18px


h3
  margin-left: -1em
  border-bottom: solid 3px black



pre
  background-color: #eee
  padding: 10px
  font-size: 11px


a
  color: #000

  &:visited
    color: #666

  //&:hover
    //color: #fff
    background-color: #000


label
  font-weight: bold


#flash_notice, #flash_error
  padding: 5px 8px
  margin: 10px 0


#flash_notice
  background-color: #CFC
  border: solid 1px #6C6


#flash_error
  background-color: #FCC
  border: solid 1px #C66


.clear
  clear: both


.fieldWithErrors
  display: inline

  input
    border: 1px solid red


#errorExplanation
  width: 400px
  border: 2px solid red
  padding: 7px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0

  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: 0px
    background-color: #c00
    color: #fff

  p
    color: #333
    margin-bottom: 0
    padding: 8px

  ul
    margin: 2px 24px

    li
      font-size: 12px
      list-style: disc

table.grossesse
  float: left
  th
    text-align: right

table
  border-collapse: collapse

.latex

  th
    text-align: right
    padding-left: 1em

  td
    padding-left: 1em
    border-style: solid
    border-width: 1px 0 1px
    text-align: center

table#dossiers
  font-size: 85%
  th, td
    padding: 0 0.4em

table#bebes
  th
    border-bottom: 2px solid black
    text-align: center
  td, th
    padding: 0 0.4em
    &.single
      width: 1em
    &.triple
      width: 3em
    &.quintuple
      width: 5em
    &.large
      width: 500px

.add_fields
  border-top: 1px solid black

ul#malformations
  list-style: none
  width: 95%
  margin-left: 0
  padding-left: 0
  text-indent: -1em

#infoevol
  table
    float: left
    margin-right: 1em
    th
      border-bottom: solid 1px black


th.center
  text-align: center

.small
  font-size: 70%

#time
  font-size: 90%


#right
  text-align: right


.commentaire
  border: 1px solid black
  width: auto
  padding: 1em


.commentaire_100
  width: 100%
  height: 6em

.goleft
  float: left

.even
  background-color: #ddd

.odd
  background-color: white

#container, #header
  width: 1024px
  margin: 0 auto
  background-color: #FFF
  padding: 20px 40px
  border: solid 1px black

#header
  h1 a:hover
    :background black
    :color white
  :background black
  :color white
  :overflow hidden
  :padding 0px 40px
  a
    :color inherit
    :text-decoration none
    :font-weight bold
    &:hover
      :background white
      :color black
  #menu
    :float left
    ul
      :list-style-type none
      li
        :float left
        :padding 0 1em

#topbar
  width: auto
  display: block
  h1
    height: 1em

#navbar
  width: auto
  display: block
  height: 24px

#main
  width: auto
  display: block

#footer
  width: auto
  display: block
  height: auto


fieldset#search
  border: 0
  legend
    font-weight: bold
    font-size: 1.2em
  ol.formList
    font-size: 85%
    list-style: none
    label
      font-weight: bold
      &:after
        content: " : "

// simple form
.simple_form
  label
    float: left
    width: 160px
    text-align: right
    margin: 2px 5px
    &:after
      content: " : "

  div.input
    margin-bottom: 10px

  div.boolean, input[type='submit']
    margin-left: 120px

  div.boolean label, label.collection_radio
    float: none
    margin: 0
    &:after
      content: ""

  label.collection_radio
    margin-right: 10px
    margin-left: 2px

  .error, .hint
    clear: left
    margin-left: 120px
    font-size: 12px
    display: block

  .error
    color: #D00

  .hint
    color: #555
    font-style: italic

#log
  clear: both
  overflow: auto
  height: 150px
  color: #090
  background-color: #cfc

div[id*=malformation_tree]
  height: 300px
  overflow: auto
