body {
  background-color: #cccccc;
  color: #333333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

h3 {
  margin-left: -1em;
  border-bottom: solid 3px black; }

pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px; }

a {
  color: black; }
  a:visited {
    color: #666666; }

label {
  font-weight: bold; }

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.clear {
  clear: both; }

.fieldWithErrors {
  display: inline; }
  .fieldWithErrors input {
    border: 1px solid red; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

table.grossesse {
  float: left; }
  table.grossesse th {
    text-align: right; }

table {
  border-collapse: collapse; }

.latex th {
  text-align: right;
  padding-left: 1em; }
.latex td {
  padding-left: 1em;
  border-style: solid;
  border-width: 1px 0 1px;
  text-align: center; }

table#dossiers {
  font-size: 85%; }
  table#dossiers th, table#dossiers td {
    padding: 0 0.4em; }

table#bebes th {
  border-bottom: 2px solid black; }
table#bebes td, table#bebes th {
  text-align: center;
  padding: 0 0.4em; }
table#bebes .single {
  width: 1em; }
table#bebes .triple {
  width: 3em; }
table#bebes .quintuple {
  width: 5em; }
table#bebes .large {
  width: 7em; }

#infoevol table {
  float: left;
  margin-right: 1em; }
  #infoevol table th {
    border-bottom: solid 1px black; }

th.center {
  text-align: center; }

#time {
  font-size: 90%; }

#right {
  text-align: right; }

.commentaire {
  border: 1px solid black;
  width: auto;
  padding: 1em; }

.commentaire_100 {
  width: 100%;
  height: 6em; }

.goleft {
  float: left; }

.even {
  background-color: #dddddd; }

.odd {
  background-color: white; }

#container, #header {
  width: 860px;
  margin: 0 auto;
  background-color: white;
  padding: 20px 40px;
  border: solid 1px black; }

#header {
  background: black;
  color: white;
  overflow: hidden;
  padding: 0px 40px; }
  #header h1 a:hover {
    background: black;
    color: white; }
  #header a {
    color: inherit;
    text-decoration: none;
    font-weight: bold; }
    #header a:hover {
      background: white;
      color: black; }
  #header #menu {
    float: left; }
    #header #menu ul {
      list-style-type: none; }
      #header #menu ul li {
        float: left;
        padding: 0 1em; }

#topbar {
  width: auto;
  display: block; }
  #topbar h1 {
    height: 1em; }

#navbar {
  width: auto;
  display: block;
  height: 24px; }

#main {
  width: auto;
  display: block; }

#footer {
  width: auto;
  display: block;
  height: auto; }

fieldset#search {
  border: 0; }
  fieldset#search legend {
    font-weight: bold;
    font-size: 1.2em; }
  fieldset#search ol.formList {
    font-size: 85%;
    list-style: none; }
    fieldset#search ol.formList label {
      font-weight: bold; }
      fieldset#search ol.formList label:after {
        content: " : "; }

.simple_form label {
  float: left;
  width: 160px;
  text-align: right;
  margin: 2px 5px; }
  .simple_form label:after {
    content: " : "; }
.simple_form div.input {
  margin-bottom: 10px; }
.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px; }
.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0; }
  .simple_form div.boolean label:after, .simple_form label.collection_radio:after {
    content: ""; }
.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px; }
.simple_form .error, .simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  display: block; }
.simple_form .error {
  color: #dd0000; }
.simple_form .hint {
  color: #555555;
  font-style: italic; }

#log {
  clear: both;
  overflow: scroll;
  height: 150px;
  color: #009900;
  background-color: #ccffcc; }
