<% title "TeraTox - Accueil" %>

<h2>Que voulez-vous faire ?</h2>
<ul>
  <li><%= link_to "Saisir un nouveau dossier", new_dossier_path %></li>
  <li><%= link_to "Saisir une évolution", evoluer_dossiers_path %></li>
  <li><%= link_to "Afficher tous les dossiers", dossiers_path %></li>
  <li>
      Modifier le dossier :
  </li> 
</ul>
