- title "Edit Pathologie"

= content_for :main do
  = render 'form', :parents => @parents, :pathologie => @pathologie

  %p
    = link_to "Show", pathologie_path(@pathologie)
    |
    = link_to "View All", pathologies_path
