- title "Accmods"

- content_for :main do
  %table
    %tr
      %th Abbr
      %th Name
    - @accmods.each do |accmod|
      %tr
        %td= accmod.abbr
        %td= accmod.name
        %td
          - actions(accmod)

- content_for :footer do
  %p= link_to "Nouveau Accmod", new_accmod_path
