- title "Qualite"

- content_for :main do
  %p
    %strong Name:
    =h @qualite.name

  %p
    = link_to "Edit", edit_qualite_path(@qualite)
    |
    = link_to "Destroy", @qualite, :confirm => 'Are you sure?', :method => :delete
