= simple_form_for(@cat) do |f|
  - if @cat.errors.any?
    #error_explanation
      %h2
        = pluralize(@cat.errors.count, "error")
        prohibited this cat from being saved:

      %ul
      - @cat.errors.full_messages.each do |msg|
        %li= msg

  .inputs

  .actions
    = f.button :submit
