- title "Cats"

- content_for :main do
  %table
    %tr
      %th Name
    - @cats.each do |cat|
      %tr
        %td= cat.name
        %td= link_to 'Modifier', edit_cat_path(cat)
        %td= link_to 'Détruire', cat, :confirm => 'Etes-vous sur ?', :method => :delete

  %p= link_to "Nouvelle Cat", new_cat_path
